<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>送信完了</title>
</head>
<body>

<p>申し込みありがとうございます。<br>
詳細は、メールにてお知らせいたします。</p>
<form>
<input type="button" value="トップへ戻る" onclick="location.href='!top!';">
</form>

</body>
</html>
